
<div class="d-flex flex-lg-row-reverse flex-sm-row flex-wrap mt-4">
  <div class="flex-col pb-4">
      <%= render 'edit_form', time_frame: TimeFrame.new(user: current_user) %>
  </div>
  <div class="flex-fill">
    <ul class='list-group'>
      <% if @time_frames.empty? %>
      <div class="font-italic">
        You don't have any timers yet!
      </div>
      <% else %>
        <% @time_frames.each do |t| %>
          <li id='timer-list-item-<%= t.id %>' class='list-group-item'>
            <%= render 'timer_entry', time_frame: t %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
